.heats-details-container{
  .event-list-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .table-style {
      width: 100%;
      text-align: left;

      tr {
        &.first-row {
          cursor: default;
          background: white;
          border-bottom: 1px solid;

          &:hover {
            background: white;
          }
        }

        cursor: pointer;

        &:hover {
          background: lightblue;
        }
        background: aliceblue;
        display: flex;
        justify-content: space-between;
        td {
          border-top: 1px solid;
          width: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
        }
        th {
          width: 100%;
          padding: 10px;
        }

      };

    }
  }

}