:root {
  .typography-main-header{
   
    font-size: 32px;
    line-height: 52px;
    font-weight: 700;
  }

  .typography-main {
   
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -1px;
  }

  .typography-main-number {
   
    font-size: 36px;
    //line-height: 32px;
    letter-spacing: -1px;
  }


  .typography-h1-heading {

    font-size: 30px;
    //line-height: 32px;
    letter-spacing: -1px;
  }

  .typography-h2-title {
   
    font-size: 24px;
    //line-height: 32px;
    letter-spacing: -0.2px;
  }

  //TODO ask Epi
  .typography-h2-title-display {
   
    letter-spacing: -0.2px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .typography-h3-secondary-sub {
   
    font-size: 24px;
    line-height: 32px;
  }


  .typography-h4-subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .typography-paragraph {
   
    font-size: 16px;
    line-height: 24px;
  }

  .typography-paragraph-display {
   
    font-size: 16px;
    line-height: 24px;
  }


  .typography-paragraph-bold {
   
    font-size: 16px;
    line-height: 24px;
  }

  .typography-input {
   
    font-size: 14px;
    line-height: 22px;
  }

  typography-h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  .typography-input-display {
    font-size: 14px;
    line-height: 22px;
  }


  .typography-h6 {
    font-size: 12px;
    line-height: 22px;
  }

  .typography-link {
    font-size: 16px;
    line-height: 24px;
  }

  .typography-secondary {
    font-size: 16px;
    line-height: 22px;
  }

  .typography-description {
    font-size: 12px;
    line-height: 24px;
  }

  .typography-hebrew-h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .typography-hebrew-text {
    font-size: 16px;
    line-height: 24px;
  }

  .typography-hebrew-bold-text {
    font-size: 16px;
    line-height: 24px;
  }

  .typography-hebrew-details {
    font-size: 14px;
    line-height: 22px;
  }

  .typography-hebrew-doctor-name {
    font-size: 12px;
    line-height: 24px;
  }

  .typography-h6-heading {
    font-size: 12px;
    line-height: 22px;
  }

  .typography-h5 {
    font-size: 14px;
    line-height: 22px;
  }
}
